* {
  font-family: Helvetica, sans-serif;
}

.main {
    text-align: center;
}

.top_page {
  background-image:url("../images/the-flatiron-building.png");
}

.top_nav {
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#process {
  font-size: 32px;
  font-weight: bold;
}

h3, #break {
  font-size: 23px;
  font-weight: bold;
}

.info {
  font-size: 14px;
}

#break {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

.footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
